
.logo {
    height: 32px;
    background: rgba(39, 35, 35, 0.2);
    margin: 16px;
    margin-left: 20px;
}

.content {
    padding: 12px 24px 24px 24px;
    background: #fff; 
    min-height: 430;
    margin: 24px 16px 0;
}

.layout {
    height: 480px;
    font-size: 14px;
}