
.logo {
    height: 32px;
    background: rgba(39, 35, 35, 0.2);
    margin: 16px;
    margin-left: 20px;
}

.content {
    padding: 0px 24px 0px 24px;
    background: #fff;
    margin: 16px 16px 16px 16px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.layout {
    height: 480px;
    font-size: 14px;
}

.sider{
  box-shadow: 0 1px 1px rgba(73, 73, 73, 0.15);
}
